
.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: left;
}

.invisible {
  display: none;
  visibility: visible;
}

.error {
  color: var(--error);
  display: none;
}
